@model ItemRequestCreateVM   

@{
    ViewData["Title"] = "Request Items";
}


<h1>Apply For Item</h1>
<hr />
<div class="text-center">
 <p> Kindly note that requests must be received on THURSDAYS and items will be issued on MONDAYS ONLY Consideration will be given in cases of emergency.</p>
</div>
<hr />
  <h4 class="text-center">Pictures seen are a representation of the items that may or may not be in stock.</h4>
        <div class = "products">
            <div class = "container">
                <p class="text-l"></p>
                <div class = "product-items" >
                    <!-- single product -->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "~/img/pix/air freshner (GLADE).png" alt = "product image">
                            </div>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> Add to cart
                                    <span><i class = "fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> Request Item
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">Ratings</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">Air Freshner</a>
                            <p class = "product-price"></p>
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title">Unavailable</h2>
                            <h2 class = "sm-title " style="background-color:red">Unavailable</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "/img/pix/battery AA.png" alt = "product image">
                            </div>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> Add to cart
                                    <span><i class = "fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> Request Item
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">Ratings</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">Duracell AA </a>
                            <p class = "product-price"></p>
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title " style="background-color:red">Unavailable</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "/img/pix/Cleaning Supplies - Multipurpose Soap.png" alt = "product image">
                            </div>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> Add to cart
                                    <span><i class = "fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> Request Item
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">Ratings</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">Mult-Purpose Soap</a>
                            <p class = "product-price"></p>
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title" style="background-color:red">Unavailable</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "/img/pix/Coffee.png" alt = "product image">
                            </div>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart"> Add to cart
                                    <span><i class = "fas fa-plus"></i></span>
                                </button>
                                <button type = "button" class = "btn-buy"> Request Item
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">Ratings</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">Coffee</a>
                            <p class = "product-price"></p>
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title" >Available</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                   
                   
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h4 class="text-center">REQUEST ITEMS HERE</h4>
        <br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-6">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-select" asp-items="Model?.Products">
                    <option>Select Item</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mb-6">
                <label asp-for="Quantity_Requested" class="control-label"></label>
                <input asp-for="Quantity_Requested" class="form-control" />
                <span asp-validation-for="Quantity_Requested" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mb-6">
                <label asp-for="RequstComments" class="control-label"></label>
                <textarea  asp-for="RequstComments" class="form-control"></textarea>
                <span asp-validation-for="RequstComments" class="text-danger"></span>
            </div>
            <br />
             <div class="form-group mb-6">
            </div>
            <br />
            <div> 
                <h6>Date Requested: @DateTime.Now</h6>
                <br />
               <h6>Requested By: @User.Identity?.Name </h6> 
            </div>
             <div> 
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
  <hr />

  
