@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">INVENTORY MANAGEMENT SYSTEM</h1>
</div>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header>
     
    </header>
    <br />

   <div>
       <img src="img/Img-Bg.jpg" class="center" alt="Background-Image">
   </div>

  
</body>
</html>
